@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  overflow: hidden;
}

@font-face {
  font-family: 'rodin';
  src: url('./assets/FOT-Rodin\ Pro\ UB.otf') format('opentype')
}

@font-face {
  font-family: 'fontsona';
  src: url('./assets/Fontsona3FES.ttf') format('truetype')
}


@theme {  
  --color-text-1: #10c9ff;  
  --color-text-2: #6ce6fd;  
  --color-text-3: #11cdfd;
  --color-text-4: #387cf7;
  --color-text-5: #397df8;
}

a:hover {
  text-decoration: none;
  color: black;
}

.list h1 a:hover {
  background-image: url("whitetri.png");
  background-size: 100% 100%;
  animation: test 0.1s ;
  animation-fill-mode: forwards;
}

.infobox.fade-in {
  animation: fadeintoright 0.2s forwards;
}

.infobox.fade-out {
  animation: fadeouttoleft 0.2s forwards;
}

@keyframes test {
  0% {font-size: 100%;}
  50% {font-size: 150%;}
  100% {font-size: 120%;}
}

@keyframes fadeintoright {
  0% {opacity: 0; transform: translateX(-100px);}
  100% {opacity: 1; transform: translateX(0px);}
}

@keyframes fadeouttoleft {
  0% {opacity: 1; transform: translateX(0px);}
  100% {opacity: 0; transform: translateX(100px);}
}